<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./header.ejs') %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="home">
            <h2>
                <img src="/assets/favicon.png" />
                WELCOME TO SHAKEMATE
            </h2>
            <form>
                <input id="room-id" type="text" placeholder="Enter room name" required />
                <input id="room-password" type="password" placeholder="Enter password" required />
                <button id="create-room" class="button-38" type="submit">
                    <i class="fa-solid fa-circle-plus"></i>
                    Create Room
                </button>
            </form>
        </div>
    </body>
    <script>
        document.querySelector('#create-room').onclick = async (e) => {
            e.preventDefault();
    
            const roomID = document.querySelector('#room-id').value;
            const password = document.querySelector('#room-password').value;
    
            if (!roomID || !password) {
                alert('Room name and password cannot be empty.');
                return;
            }
    
            const roomRegex = /^[A-Za-z][A-Za-z0-9 ]{4,19}$/;
            if (!roomRegex.test(roomID)) {
                alert('Room name must be between 5 and 20 characters, only letters, numbers, and spaces.');
                return;
            }
    
            const response = await fetch(`/room/${roomID}`, { 
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ password })
            });
    
            const responseJSON = await response.json();
    
            if (response.ok) {
                // Lưu mật khẩu vào cookie
                document.cookie = `room_${roomID}_password=${encodeURIComponent(password)}; path=/; secure; HttpOnly`;
    
                // Redirect đến room mà không cần mật khẩu trên URL
                window.location.href = `/room/${roomID}?k=${responseJSON.secretKey}`;
            } else {
                alert(responseJSON.message);
            }
        };
    </script>
    
    
</html>
